<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Form</title>
</head>
<body>
    <h1>Register page</h1>
    <form method="post">
        <div class="form__fieldset">
            <label>email</label>
            <input type="test" name="email" class="form_input" />

            <label>sex ('m' or 'f')</label>
            <input type="test" name="sex" class="form_input" />

            <label>prefSex ('m' or 'f' or 'b')</label>
            <input type="test" name="prefSex" class="form_input" />

            <label>major</label>
            <input type="test" name="major" class="form_input" />

            <label>minor</label>
            <input type="test" name="minor" class="form_input" />

            <h1>Skills must be under 30 char total</h1>
            <label>skill1</label>
            <input type="test" name="skill1" class="form_input" />
            <label>skill2</label>
            <input type="test" name="skill2" class="form_input" />
            <label>skill3</label>
            <input type="test" name="skill3" class="form_input" />

            <h1>Interests must be under 27 char total</h1>
            <label>interest1</label>
            <input type="test" name="interest1" class="form_input" />
            <label>interest2</label>
            <input type="test" name="interest2" class="form_input" />
            <label>interest3</label>
            <input type="test" name="interest3" class="form_input" />

            <h1>Now, fill in this</h1>
            <label>noun1</label>
            <input type="test" name="noun1" class="form_input" />
            <label>noun2</label>
            <input type="test" name="noun2" class="form_input" />
            <label>noun3</label>
            <input type="test" name="noun3" class="form_input" />
            <label>verb1</label>
            <input type="test" name="verb1" class="form_input" />
            <label>verb2</label>
            <input type="test" name="verb2" class="form_input" />
            <label>verb3</label>
            <input type="test" name="verb3" class="form_input" />
            <label>adj1</label>
            <input type="test" name="adj1" class="form_input" />
            <label>adj2</label>
            <input type="test" name="adj2" class="form_input" />
            <label>adj3</label>
            <input type="test" name="adj3" class="form_input" />


            <h1>this data will not be stored and is strictly used to calculate your tindar index</h1>
            <label>gpa</label>
            <input type="test" name="gpa" class="form_input" />
            <label>ricePurity</label>
            <input type="test" name="ricePurity" class="form_input" />


        </div>
        <input class="form_submit" type="submit" />
    </form>
</body>
</html>